/* Style CSS */

/* Home CSS */
#home-card {
  border-radius: 16px;
}

ion-title {
  font-weight: 600;
}

/* Card content */
ion-card {
  margin: 30px;
  padding: 10px;
  display: block;
}

/* Menu */

/* Progress bar line */

/* Button Edit */

/* Accordion */

.accordion-group {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
}

/* Avatar */

/* Double Progress bar */
#leftSidebarAssistant {
  width: 280px;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}

#leftSidebarAssistantOuterCircle {
  height: 210px;
  width: 210px;
  transform: rotate(-90deg);
}

#leftSidebarAssistantInnerCircle {
  height: 170px;
  width: 170px;
  transform: rotate(-90deg);
  position: absolute;
  left: 78px;
  top: 43px;
}

.progress-bar__background {
  fill: none;
  stroke: #d3dce9;
  stroke-width: 2px;
}

.progress-bar__progress {
  fill: none;
  stroke: #d3dce9;
  stroke: #ef2b2b;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 2px;
  -webkit-transition: stroke-dashoffset 1s ease-in-out;
  transition: stroke-dashoffset 1s ease-in-out;
}
.topcorner {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
}
.card-transparent {
  background-color: transparent;
}

.circle-activity {
  width: 80px;
  height: 80px;
}

.circle-text-bold {
  font-weight: bold;
}
