ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-dark);
  padding: 9px;
  border-radius: 15px;
  color: rgb(19, 17, 17);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.mtp-record-backdrop {
  position: fixed;
  z-index: -1;
  background-color: rgba(255, 255, 255);
  opacity: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 0px;
  visibility: "hidden";
  transition: all 500ms ease;
}

.fab-list-active + .mtp-record-backdrop {
  visibility: "visible";
  width: 100%;
  opacity: 0.9;
}
