.col-sport {
  background-color: rgba(119, 121, 121, 0.226);
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
}

.col-gaming {
  background-color: rgba(119, 121, 121, 0.226);
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
}

.ion-segment-button-sport {
  color: #45debf;
  --color-checked: #45debf;
}
.ion-segment-button-gaming {
  color: #f5b749;
  --color-checked: #f5b749;
}
