.progress-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.centered-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* This ensures the container takes up the full height of the viewport */
}
