.menu-header-bg {
  height: 200px;
  width: 350px;
  background: goldenrod;
  background: linear-gradient(90deg, #45debf 0%, #45debf 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-10deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 50px;
  left: 15px;
  display: flex;
  align-items: center;
}

.img-profile-menu {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid #f9b234;
  margin-right: 14px;
}
.h2-profile-menu {
  font-weight: 300;
}

.p-profile-menu {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.4px;
}

.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-items {
  margin: 0px;

  .ion-icon-menu {
    margin-right: 20px;
  }

  .ion-item-menu {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .active {
    border-left: 5px solid;
    color: #162755;
    padding-left: 15px;

    .ion-icon-menu {
      color: #628cff;
    }
  }
}
