.swiper {
    height: 100vh;
}

.swiper-slide img{
    height: 49vh;
    margin-bottom: 40px;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}